.main-container {
    padding: 150px 100px 0px 100px;
    height: 100%;
}

.divider {
    border-width: 2px;
    border-color: rgb(0, 0, 0);
}

input {
    width: 300px;
    height: 45px;
    border: 3px solid black;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 3px 5px;
}