<div class="main-container">
    <h1>Modifier une variété</h1>

    <hr class="divider">

    <div class="sub-container">
        <div class="table-container">
            <table *ngFor="let variete of varietes">
                <thead>
                    <tr>
                        <th colspan="2">
                            <div style="display:flex; justify-content:space-between;">
                                {{variete.name}}
                                <div class="button-container">
                                    <button>Sauvegarder</button>
                                    <button>Supprimer</button>
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Date de mise en marché</td>
                        <td>
                            <input type="text" [(ngModel)]="variete.dateMiseEnMarche">
                        </td>
                    </tr>
                    <tr>
                        <td>Semis</td>
                        <td>
                            <input type="text" [(ngModel)]="variete.semis">
                        </td>
                    </tr>
                    <tr>
                        <td>plantation</td>
                        <td>
                            <input type="text" [(ngModel)]="variete.plantation">
                        </td>
                    </tr>
                    <tr>
                        <td>entretion</td>
                        <td>
                            <input type="text" [(ngModel)]="variete.entretion">
                        </td>
                    </tr>
                    <tr>
                        <td>récolte</td>
                        <td>
                            <input type="text" [(ngModel)]="variete.recolte">
                        </td>
                    </tr>
                    <tr>
                        <td>debut mise en place</td>
                        <td>
                            <input type=" text " [(ngModel)]="variete.debutMiseEnPlace">
                        </td>
                    </tr>
                    <tr>
                        <td>fin mise en place</td>
                        <td>
                            <input type=" text " [(ngModel)]="variete.finMiseEnPlace">
                        </td>
                    </tr>
                    <tr>
                        <td>debut recolte</td>
                        <td>
                            <input type=" text " [(ngModel)]="variete.debutRecolte">
                        </td>
                    </tr>
                    <tr>
                        <td>fin recolte</td>
                        <td>
                            <input type=" text " [(ngModel)]="variete.finRecolte">
                        </td>
                    </tr>
                    <tr>
                        <td>Commentaire general</td>
                        <td>
                            <textarea type="text" [(ngModel)]="variete.commentaire"></textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
