<div class="main-container">
    <h1>Ajouter une variété</h1>

    <hr class="divider">

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th colspan="2">
                        <div style="display:flex; justify-content:space-between;">
                            <input class="title-input" type="text" [(ngModel)]="newPlantType.name">
                            <button>Sauvegarder</button>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Date de mise en marché</td>
                    <td>
                        <input type="text" [(ngModel)]="newPlantType.marketDate">
                    </td>
                </tr>
                <tr>
                    <td>Biologique</td>
                    <td>
                        <input type="text" [(ngModel)]="newPlantType.isBio">
                    </td>
                </tr>
                <tr>
                    <td>Semis</td>
                    <td>
                        <input type="text" [(ngModel)]="newPlantType.seedlingDescription">
                    </td>
                </tr>
                <tr>
                    <td>plantation</td>
                    <td>
                        <input type="text" [(ngModel)]="newPlantType.plantingDescription">
                    </td>
                </tr>
                <tr>
                    <td>maintenance</td>
                    <td>
                        <input type="text" [(ngModel)]="newPlantType.maintenance">
                    </td>
                </tr>
                <tr>
                    <td>récolte</td>
                    <td>
                        <input type="text" [(ngModel)]="newPlantType.harvesting">
                    </td>
                </tr>
                <tr>
                    <td>periode de mise en place</td>
                    <td>
                        <input type=" text " [(ngModel)]="newPlantType.establishmentPeriod">
                    </td>
                </tr>
                <tr>
                    <td>periode de recolte</td>
                    <td>
                        <input type="text " [(ngModel)]="newPlantType.harvestPeriod">
                    </td>
                </tr>
                <tr>
                    <td>Commentaire general</td>
                    <td>
                        <textarea type="text" [(ngModel)]="newPlantType.comment"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>